/* cursor and calibration */

#cursor {
position: fixed;
width: 40px;
height: 40px;
background: rgba(205, 255, 255, 0.267);
border-radius: 50%;
border: medium solid rgba(205, 255, 255, 0.5);
z-index: 1000; /* Set a high z-index value */
/*pointer-events: none;*/ /* Make the cursor element non-interactive */
}

.cursor_fire
{
width: 40px;
height: 40px;
font-family: sans-serif;
background: rgba(255, 165, 180, 0.0);
display: flex;
align-items: center;
margin: 0 auto;   

-webkit-transition: width 0.25s ease-in-out;
transition: width 0.25s ease-in-out;
}

.is-hovered .cursor_fire {
border-radius: 999rem;
height: 40px;
width:  150px;
background: rgba(255, 165, 180, 0.1);
border: 2px solid rgba(255, 165, 180, 1);
}

.blink_text {
width:  150px;
margin: 0 auto;
margin-left: 20px;
color: #10101000;
display: flex;
align-items: center;
justify-content: center;

-webkit-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}

.is-hovered .blink_text {
color: white;
}

#cursor:not(.is-hovered) .blink_text {
-webkit-transition: none;
transition: none;
}

.hoverable {
}

.calibrator-container {
position: absolute;
top: 0px;
display: flex;
justify-content: space-between;
width: 100%;
height: 100%;
opacity: 1;
pointer-events: auto;
z-index: 1000; /* Higher z-index than your content */
transition: opacity 0.5s;
}

.calibrators-off {
opacity: 0;
pointer-events: none;
}

.calibrator {
position: absolute;
width: 110px;
height: 50px;
background-color: #ffff0099;
border-radius: 25px;
display: flex;
justify-content: center;
align-items: center;
color: #333;
font-weight: bold;
font-size: 10px;
transition: background-color 0.3s;
pointer-events: auto;
}

.message-top {
top: 1vh;
left: 50%;
transform: translate(-50%, 0);
}

.message-bottom {
top: 93vh;
left: 50%;
transform: translate(-50%, 0);
}

.message-left {
top: 50vh;
left: 0vh;
transform: translate(0, -50%) rotate(-90deg);
}

.message-right {
top: 50vh;
right: 0vh;
transform: translate(0, -50%) rotate(90deg);
}

.message-center {
top: 50%;
left: 50%;
margin:  10px;
padding: 10px;
width:  200px;
height: 120px;
font-size: 15px;
text-align: center;
align-items: center;
justify-content: center;
transform: translate(-50%, -50%);
}


/* Weak connection */

#weak_connection {
position: absolute;
top: 30%;
left: 50%;
width: 200px;
height: 100px;
font-weight: bold;
font-size: 20px;
justify-content: center;
align-items: center;
z-index: 1000; /* Higher z-index than your content */
border-radius: 5px;
background-color: rgba(190, 0, 0, 0.342); /* Semi-transparent background */
text-align: center;
display: flex;
transform: translate(-50%,-50%);
}

.hide{
opacity: 0;
}