<div style="width: 100%; height: 100%; background-image: url('/static/demo_pic/moon.png'); background-size: auto;">
    <h1 style="color: rgb(187, 104, 104); text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Win the game</h1>
    <!-- Content for Section 3 -->
    <div id="grid_container"></div>

    <div class="container" style="display: flex; justify-content: center; align-items: center; width: 100vw; flex-direction: column;">
        <h3 class="score" style="font-size: 32px; top: 40px; position: relative; color: rgb(251, 255, 0); text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Points: 0</h3>
    </div>

    <button class="button_next_section eyeMagnet" onclick="stop_game(); scrollToSection('section4');">
        <div class="arrow_vission_down arrow_vission">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>
</div>
