<div style="width: 100%; height: 100%; background-color: #554b4979;">
    <h1>Feed Your Eyes</h1>
    <!-- Content for Section 2 -->
    <div style="            
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;">
        <div class="row">
            <div id="meal_1" class="" style="background: #45464344;
                border: 4px solid #fff0;
                border-radius: 10px;
                min-height: 350px;
                width: 50%;
                margin-left: 4%;
                transition: all 2s ease;">
                <p style="text-align: center;">Blink to order</p>
                <div class="background_choice_button eyeMagnet" onclick="setChoice(`meal_1`)" style="border-radius: 10px;
                        background-image: url('/static/demo_pic/curry.png');
                        width: 96%;
                        height: 300px;
                        background-size: cover;
                        margin: 2%;">
                </div>
                <p style="text-align: center;">Indulge in our Vegan Curry</p>
                <p style="text-align: center;">13.99€</p>
            </div>
            <div id="meal_2" class="" style="background: #45464344;
                border: 4px solid #fff0;
                border-radius: 10px;
                min-height: 350px;
                width: 50%;
                margin-left: 4%;
                margin-right: 4%;
                transition: all 2s ease;">
                <p style="text-align: center;">Blink to order</p>
                <div class="background_choice_button eyeMagnet" onclick="setChoice(`meal_2`)" style="border-radius: 10px;
                        background-image: url('/static/demo_pic/rice.png');
                        width: 96%;
                        height: 300px;
                        background-size: cover;
                        margin: 2%;">
                </div>
                <p style="text-align: center;">the simplicity of Vegan Rice</p>
                <p style="text-align: center;">9.99€</p>
            </div>
            <div id="meal_3" style="background: #45464344;
                border: 4px solid #fff0;
                border-radius: 10px;
                min-height: 350px;
                max-height: 500px;
                width: 50%;
                margin-right: 4%;
                transition: all 2s ease;">
                <p style="text-align: center;">Blink to order</p>
                <div class="background_choice_button eyeMagnet" onclick="setChoice(`meal_3`)" style="border-radius: 10px;
                        background-image: url('/static/demo_pic/lemonade.png');
                        width: 96%;
                        height: 300px;
                        background-size: cover;
                        margin: 2%;">
                </div>
                <p style="text-align: center;">refresh with a zesty Lemonade</p>
                <p style="text-align: center;">3.99€</p>
            </div>
        </div>
    </div>

    <button class="button_next_section eyeMagnet" onclick="scrollToSection('section3'); start_game();">
        <div class="arrow_vission_down arrow_vission">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>
</div>