<div id="section1_background" style="width: 100%; height: 100%; background-color: #141415; background-size: cover;">
    <h1>EyeGestures</h1>
    <div class="row">
    <!-- Display video stream from the webcam --> 
        <div class="" style="background: #45464344;
            border-radius: 10px;
            height: 350px;
            width: 50%;
            margin-left: 2%;">
            <p style="text-align: center;">Blink to change background</p>
            <div class="background_choice_button eyeMagnet" onclick="setBackground(document.getElementById('section1_background')
            ,'/static/demo_pic/background_magnet_demo.png')" style="border-radius: 10px;
                    background-image: url('/static/demo_pic/background_magnet_demo.png');
                    width: 96%;
                    height: 82%;
                    background-size: cover;
                    margin: 2%;">
            </div>
        </div>
        <div class="column">
            <h2>
              V1.3.X - March 03, 2024
            </h2>
            <p style="width: 80%; margin-left: 10%; margin-right: 10%;">
              Tracker with EyeTiles and EyeMagnet APIs available. Eyegestures engine 1.0.X.
            </p>
            <div style="width: 80%; margin-left: 10%; margin-right: 10%;">
                <a href='https://github.com/NativeSensors/EyeGestures' target='_blank'>
                <button class="pill-button eyeMagnet">Open source now!</button>
              </a>
            </div>
            <hr>
            <h2>
              V0.0.1 - December 29, 2023
            </h2>
            <p style="width: 80%; margin-left: 10%; margin-right: 10%;">
              Basic eyecontrolled cursor, with eye fixation and blinking detection, for web, Linux and Windows.
            </p>
            <div style="width: 80%; margin-left: 10%; margin-right: 10%;">
              <form action="/download" method="post">
                <input type="checkbox" name="accept_license" required style="margin-bottom: 20px;"> I accept the <a href="/license" target="_blank" style="color: yellow;">license agreement</a><br>
                <button class="pill-button-left eyeMagnet" type="submit" name="executable" value="linux">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Font_Awesome_5_brands_linux.svg" width="30%" height="100%"/>
                </button>
                <button class="pill-button-right eyeMagnet" type="submit" name="executable" value="windows">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Windows_logo_-_2002%E2%80%932012_%28Black%29.svg" width="30%" height="100%"/>
                </button>
              </form>
            </div>
        </div>
        <div class="" style="background: #45464344;
            border-radius: 10px;
            height: 350px;
            width: 50%;
            margin-right: 2%;">
            <p style="text-align: center;">Blink to change background</p>
            <div class="background_choice_button eyeMagnet" onclick="setBackground(document.getElementById('section1_background')
                    ,'/static/demo_pic/second_background.png')" style="border-radius: 10px;
                    background-image: url('/static/demo_pic/second_background.png');
                    width: 96%;
                    height: 82%;
                    background-size: cover;
                    margin: 2%;">
            </div>
        </div>
    </div>
    <!-- Content for Section 1 -->
    <button class="button_next_section eyeMagnet" onclick="scrollToSection('section2')">
        <div class="arrow_vission_down arrow_vission">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>
</div>