<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vision.css">
    <link rel="stylesheet" href="eyegestures.styles.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DX69NVJNBX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DX69NVJNBX');
    </script>

    <title>Your Website</title>
</head>
<body>
    <div style="
        position: fixed; 
        z-index: 100; 
        display: flex;
        align-items: center;
        top: 20px; 
        left: 50px;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        background: linear-gradient(to right, red, orange);; 
        ">
        <canvas id="faceVideoView" style="
            border-radius: 50%;
            margin: 5px;
            z-index: 101;">
        </canvas>
    </div>

    <div class="section" id="section1">
    </div>

    <div class="section" id="section2">
    </div>

    <canvas id="gameCanvas" width="100%" height="100%" style="position: absolute; z-index: 100;">   
    </canvas>      
    <div class="section" id="section3">
    </div> 

    <div class="section" id="section4">
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="eyeGest.js"></script>
    <script src="vision.js"></script>
    <script src="game.js"></script>
    <script>

        // Use Fetch API to load the content of subfile.html
        fetch('vision_site_1.html')
            .then(response => response.text())
            .then(data => {
                // Set the content of the 'includedContent' div with the content of subfile.html
                document.getElementById('section1').innerHTML = data;
        });

              // Use Fetch API to load the content of subfile.html
        fetch('vision_site_2.html')
            .then(response => response.text())
            .then(data => {
                // Set the content of the 'includedContent' div with the content of subfile.html
                document.getElementById('section2').innerHTML = data;
        });

            // Use Fetch API to load the content of subfile.html
        fetch('vision_site_3.html')
            .then(response => response.text())
            .then(data => {
                // Set the content of the 'includedContent' div with the content of subfile.html
                document.getElementById('section3').innerHTML = data;
        });

        // Use Fetch API to load the content of subfile.html
        fetch('vision_site_4.html')
            .then(response => response.text())
            .then(data => {
                // Set the content of the 'includedContent' div with the content of subfile.html
                document.getElementById('section4').innerHTML = data;
        });
    </script>
</body>
</html>
