<h1>Software and Algorithm License Agreement</h1>
<p>
This software and algorithm ("the Eyegesture Software") is provided by Piotr Walas ("the Licensor") under the terms of this License Agreement ("the License"). By using, accessing, or distributing the Eyegesture Software, you agree to be bound by the terms and conditions of this License.
</p>
<h2>Grant of License</h2>
<p>
The Licensor hereby grants you a non-exclusive, revocable, and non-transferable license to use the Eyegesture Software for personal, non-commercial purposes only. This includes but is not limited to individual, educational, or research use.
</p>
<h2>Prohibited Uses</h2>
<p>
You are expressly prohibited from using the Eyegesture Software, or any portion thereof, for any commercial or profit-oriented operation, without obtaining explicit written permission from the Licensor. Commercial use includes, but is not limited to, incorporation into products for sale, licensing for a fee, or any other use that results in financial gain.
</p>
<h2>No Modification</h2>
<p>
You are strictly prohibited from modifying, editing, reverse engineering, decompiling, or otherwise tinkering with the Eyegesture Software or its underlying algorithm. Any attempt to do so without explicit written permission from the Licensor is a violation of this License.
</p>
<h2>Contact Information</h2>
<p>
If you wish to use the Eyegesture Software for commercial purposes or have inquiries regarding licensing for commercial use, please contact the Licensor at [walas.piotr@outlook.com].
</p>
<h2>Disclaimer of Warranty</h2>
<p>
the Eyegesture Software is provided "as is," without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose, and non-infringement. In no event shall the Licensor be liable for any claim, damages, or other liability, whether in an action of contract, tort, or otherwise, arising from, out of, or in connection with the Eyegesture Software or the use or other dealings in the Eyegesture Software.
</p>
<h2>Termination</h2>
<p>
The License is effective until terminated by the Licensor. The Licensee's rights under this License will terminate automatically without notice from the Licensor if the Licensee fails to comply with any term(s) of this License.
</p>
<h2>Miscellaneous</h2>
<p>
This License represents the complete agreement concerning the subject matter hereof. If any provision of this License is held to be unenforceable, such provision shall be reformed only to the extent necessary to make it enforceable.
</p>s
**Piotr Walas**
[walas.piotr@outlook.com]
