<!DOCTYPE html>
<html lang="en">
<head>
<title>EyeGestures</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="eyegestures.css">
<style>
  body {
    background-size: cover; /* or contain or specific dimensions */
    transition: all ease 1s;
  }

  main {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 90%;
    height: 60%;
  }

  /* Left Side */

  .left-side {
    height: 80%;
    width: 100%;
    margin: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse; /* Stack items from bottom to top within each row */  
  }

  /* Right Side */

  .right-side {
    padding: 20px;
    transform: scale(0.95);
  }

  .background_choice_button{
    width: 50%;
  }
</style>
</head>
<body>

<h1 style="margin: 1%;">
EyeGestures
</h1>

<div>
  <a href='https://ko-fi.com/Y8Y1SGTBV' target='_blank'>
    <img class="kofi-button eyeMagnet" width='300px' style='border:0px;height:80px;' src='https://storage.ko-fi.com/cdn/kofi5.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' />
  </a>
</div>

<main>
<div class="left-side">
  <div>
    <h2>
       V1.2.X - March 03, 2024
    </h2>
    <p>
      Tracker with EyeTiles and EyeMagnet APIs available. Eyegestures engine 1.0.X.
    </p>
    <div style="width: 80%; margin: 10px;">
      <a href='https://eyegestures.com/user_portal' target='_blank'>
        <button class="pill-button eyeMagnet">Only Online Now</button>
      </a>
    </div>
    <hr>
    <h2>
      V0.0.1 - December 29, 2023
    </h2>
    <p>
      Basic eyecontrolled cursor, with eye fixation and blinking detection, for web, Linux and Windows.
    </p>
    <div style="width: 80%; margin: 10px;">
      <form action="/download" method="post">
        <input type="checkbox" name="accept_license" required style="margin-bottom: 20px;"> I accept the <a href="/license" target="_blank" style="color: yellow;">license agreement</a><br>
        <button class="pill-button-left eyeMagnet" type="submit" name="executable" value="linux">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Font_Awesome_5_brands_linux.svg" width="30%" height="100%"/>
        </button>
        <button class="pill-button-right eyeMagnet" type="submit" name="executable" value="windows">
          <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Windows_logo_-_2002%E2%80%932012_%28Black%29.svg" width="30%" height="100%"/>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="right-side">

<div class="instruct row" style="align-items:center;display: flex; margin-bottom: 2%;">
  <div class="midbar" style="margin: 0 auto;">
    <div style="align-items:center;display: flex;">
      <img src="UpDown.ico" alt="UpDown" style="width:40px;height:40px;"> 
      <h3>Up and Down</h3>
      <div class="v-animation-container">
        <div class="v-eye">
          <div class="v-iris">
            <div class="v-pupil"></div>
          </div>
        </div>
        <div class="v-anim-cursor"></div>
      </div>
    </div>
    <p>Use upper eyelid to move up and down.</p>
  </div>
  <div class="midbar" style="margin: 0 auto;">
    <div style="align-items:center;display: flex;">
      <img src="LeftRight.ico" alt="LeftRight" style="width:40px;height:40px;"> 
      <h3>Left and Right</h3>
      <div class="h-animation-container">
        <div class="h-eye">
          <div class="h-iris">
            <div class="h-pupil"></div>
          </div>
        </div>
        <div class="h-anim-cursor"></div>
      </div>    
    </div>
    <p>Use eye to move left and right.</p>
  </div>
  <div class="midbar" style="margin: 0 auto;">
    <div style="align-items:center;display: flex;">
      <img src="Calib.ico" alt="Calib" style="width:40px;height:40px;"> 
      <h3>Calibration</h3>
      <label for="toggle">
        <input class="input" type="checkbox" id="toggle" onclick="toggleCalibrators()">
        <div class="toggle-wrapper">
          <span class="selector"></span>
        </div>
      </label>     
    </div>
    <p>If you have any overshoots/offset try to look into screen borders.</p> 
  </div>

</div>
<div class="maincontent row">

  <!-- Display video stream from the webcam -->
  <div class="midbar" style="margin: 0 auto;">
    <canvas id="faceVideoView" style="border-radius: 50%;"></canvas>
  </div>
  
  <div class="" style="background: #45464344;
    border-radius: 10px;
    height: 500px;
    width: 50%;">
    <p style="text-align: center;">Blink to change background</p>
    <div class="background_choice_button eyeMagnet" style="border-radius: 10px;
            background-image: url('/demo_pic/background_magnet_demo.png');
            width: 96%;
            height: 86%;
            background-size: cover;
            margin: 2%;">

    </div>
  </div>

</div>

</div> 
</main>

<div class="footer">
  <p>Disclaimer: This software is not collecting any biometric data nor data allowing to recognize/identify user. If you want to know more feel free to <a href="https://github.com/PeterWaIIace" target="_blank" style="color: yellow;">contact</a>.</p>
</div> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script src="/eyeMagnet.js"></script>
<script>

var next_background = 0;
function createCursor(){
  const cursor = document.createElement('div');
  cursor.setAttribute('id','cursor')

  var innerDiv = document.createElement('div');
  innerDiv.setAttribute('class', 'cursor_fire');
  var paragraph = document.createElement('p');
  paragraph.setAttribute('class', 'blink_text');
  paragraph.textContent = 'Blink Me!';
  innerDiv.appendChild(paragraph);

  cursor.appendChild(innerDiv);
  document.body.appendChild(cursor);
  return cursor;
}
const cursor = createCursor();

function updateCursorPosition(cursor, x, y) {
  if(x+50 < document.body.clientWidth){
    cursor.style.left = `${x}px`;
  }
  if(y+50 < document.body.clientHeight){
    cursor.style.top = `${y}px`;
  }
}

function updateCursorFixation(cursor,fixation) {
  const scaledFixation = 100 - Math.round(fixation * 60);
  cursor.style.width = `${scaledFixation}px`;
  cursor.style.height = `${scaledFixation}px`;
}

function checkPress(button)
{
  var cursor_bottom = parseInt(cursor.style.top, 10)  + parseInt(cursor.style.height, 10);
  var cursor_right  = parseInt(cursor.style.left, 10) + parseInt(cursor.style.width, 10);
  var cursor_top    = parseInt(cursor.style.top, 10);
  var cursor_left   = parseInt(cursor.style.left, 10);

  if (checkCorner(cursor_left,cursor_top,button) ||
      checkCorner(cursor_left,cursor_bottom,button) ||
      checkCorner(cursor_right,cursor_top,button) ||
      checkCorner(cursor_right,cursor_bottom,button)
    )
  {
    // Cursor is over the clickable element
    return true;
  }
}

function checkCorner(x,y,el)
{
  var ret = (parseFloat(x) >= el.left &&
    parseFloat(x) <= el.right &&
    parseFloat(y) >= el.top &&
    parseFloat(y) <= el.bottom);
  return ret;
}

function scanButtons()
{
  const kofi_buttons = document.querySelectorAll('.kofi-button');
  for (const kofi_button of kofi_buttons)
  {
    if(checkPress(kofi_button.getBoundingClientRect()))
    {
      var kofi_link = kofi_button.parentNode;
      kofi_link.click();
    }
  }

  const pill_buttons = document.querySelectorAll('.pill-button');
  for (const pill_button of pill_buttons)
  {
    if(checkPress(pill_button.getBoundingClientRect()))
    {
      var button_link = pill_button.parentNode;
      button_link.click();
    }
  }

  const background_choice_buttons = document.querySelectorAll('.background_choice_button')
  for (const background_choice_button of background_choice_buttons)
  {
    if(checkPress(background_choice_button.getBoundingClientRect()))
    {
      if(next_background == 0){
        document.body.style.backgroundImage = background_choice_button.style.backgroundImage;
        background_choice_button.style.backgroundImage = "url('/demo_pic/second_background.png')";
        next_background = 1;
      }
      else{
        document.body.style.backgroundImage = background_choice_button.style.backgroundImage;
        background_choice_button.style.backgroundImage = "url('/demo_pic/background_magnet_demo.png')";
        next_background = 0;
      }
    }
  }

  const pill_button_l = document.querySelectorAll('.pill-button-left');
  for (const pill_button of pill_button_l)
  {
    if(checkPress(pill_button.getBoundingClientRect()))
    {
      pill_button.click();
    }
  }


  const pill_button_r = document.querySelectorAll('.pill-button-right');
  for (const pill_button of pill_button_r)
  {
    if(checkPress(pill_button.getBoundingClientRect()))
    {
      pill_button.click();
    }
  }
}

var calibrated = false;
function onCalibration(){
  calibrated = true;
}

/* create necessary elements */
var prev_blink = 0;
function onCursor(x, y, fix, blink){

  // Update the cursor position based on the received coordinates
  // updateCursorFixation(cursor,fix);
  checkHover(cursor);

  if(fix > 0.3 && calibrated)
  {
    cursor.classList.add("is-hovered");
    if(blink == 0 && prev_blink == 1)
    {
      scanButtons();
    }
    prev_blink = blink;
  }
  else
  {
    updateCursorPosition(cursor, x, y);
    cursor.classList.remove("is-hovered");
  }
}

function checkHover(cursor) {
  const hoverables = document.querySelectorAll('.hoverable');
  for (const hoverable of hoverables) {
    const rect = hoverable.getBoundingClientRect();
    if (
      parseFloat(cursor.style.left)  >= rect.left &&
      parseFloat(cursor.style.left)  <= rect.right &&
      parseFloat(cursor.style.top) >= rect.top &&
      parseFloat(cursor.style.top) <= rect.bottom
    ) {
      // Cursor is over the clickable element
      hoverable.classList.add('is-hovered');
    } else {
      hoverable.classList.remove('is-hovered');
    }
  }
}

var connection_warning = document.createElement('div');
var connection_warning_text = document.createElement('p');
connection_warning_text.textContent = "Weak Connection!"
connection_warning.setAttribute('class','hide');
connection_warning.setAttribute('id','weak_connection');
connection_warning.appendChild(connection_warning_text);
document.body.appendChild(connection_warning)

function onFrame(video){
  canvasView = document.getElementById("faceVideoView");
  canvasView.width = 340;
  canvasView.height = 340;
  contextView = canvasView.getContext('2d');
  contextView.translate(canvasView.width, 0);
  contextView.scale(-1, 1);

  contextView.drawImage(video, 0, 0, canvasView.width, canvasView.height);
}

function onMagnet(element){

};

function onMagnetCalibration(completed){

};

EyeMagnetAPI(
  "TEST_LOCAL_KEY_ADMIN",1.0,1,
  {
    onFrame : onFrame,
    onCursor : onCursor,
    onMagnet : onMagnet,
    onCalibration : onCalibration,
    onMagnetCalibration : onMagnetCalibration,
    calibration : true,
    calibration_layout : true, 
    DEBUG : true
  }
);
</script>

</body>
</html>
