<!DOCTYPE html>
<html lang="en">
<head>
<title>EyeGestures</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles.css">
</head>
<body>

<h1>
EyeGestures
</h1>

<div class="row">
    <div class="midbar">
    <div style="align-items:center;display: flex;">
        <img src="UpDown.ico" alt="UpDown" style="width:40px;height:40px;"> 
        <h3>Up and Down</h3>
    </div>
    <p>Use upper eyelid to move up and down.</p>
    </div>
    <div class="midbar">
        <div style="align-items:center;display: flex;">
            <img src="LeftRight.ico" alt="LeftRight" style="width:40px;height:40px;"> 
            <h3>Left and Right</h3>
        </div>
        <p>Use eye to move left and right.</p>
    </div>
</div>

<div class="row">
    <div class="midbar">
        <canvas id="faceVideoView"></canvas>
    </div>
    <div class="midbar">
        <div style="align-items:center;display: flex;">
            <img src="Calib.ico" alt="Calib" style="width:40px;height:40px;"> 
            <h3>Calibration</h3>
        </div>
        <p>If you have any overshoots/offset try to look into screen borders.</p>
    </div>
</div>

<button class="pill-button-disable">Coming soon</button>

<div class="row">
  <div class="container">
    <div class="box small  hoverable">Please</div>
    <div class="box medium  hoverable">Open this</div>
    <div class="box small  hoverable">On your laptop.</div>
  </div>
</div>

<div class="footer">
  <p>Disclaimer: This software is not collecting any biometric data nor data allowing to recognize/identify user. If you want to know more feel free to <a href="https://github.com/PeterWaIIace" target="_blank" style="color: yellow;">contact</a>.</p>
</div> 

<script>
  // Define your color palette
  const colors = ['#45464344', '#14151455','#7d7d7833', '#e8e8e944'];

  // Function to assign a random color from the palette
  function assignRandomColors() {
    const boxes = document.querySelectorAll('.box'); // Select all boxes
    boxes.forEach(box => {
      const randomColor = colors[Math.floor(Math.random() * colors.length)];
      box.style.backgroundColor = randomColor; // Assign random color
    });
  }
  // Call the function on page load
  window.onload = assignRandomColors;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>

<script src="/eyegestures.js"></script>
<script>
EyeGestureApi(
  API_KEY = "JtLM!H!LqvRR@%Jx@jPGqCP3e2#S4Vqg!Czq2R97SSYp*yxPn&r&&@aFGpZB", // not in use for now
  fix_point = 0.5,
  freeze_init = 200,
  calibration = true, 
  camera_canvas_id = 'faceVideoView',
  onCursor = null,
  cursor_visible = true,
  calibration_layout = true
);
</script>

</body>
</html>
