<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>
  <style>
  #cursor {
    position: fixed;
    width : 50px;
    height : 50px;
    background: blue;
    border-radius: 50%;
    border: medium solid rgba(0, 0, 255, 0.5);
    z-index: 1000; /* Set a high z-index value */
  }


  #calib_cursor {
    position: fixed;
    width : 50px;
    height : 50px;
    background: rgb(40, 126, 6);
    border-radius: 50%;
    border: medium solid rgba(60, 252, 2, 0.815);
    z-index: 1000; /* Set a high z-index value */
  }
  </style>
</head>
<body style="height: 100vh;">

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script src="/eyeCanvas.js"></script>
</html>
